
html{
    font-family: var(--uiaTypographyMainFontFamily, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif);
    font-size: var(--uiaTypographyMainFontSize, 1rem);
    color: var(--uiaTypographyMainTextColor, #222);
}

p:not([class]),
ul:not([class]),
ol:not([class]){
    line-height: var(--uiaTypographyLineHeight, 1.78);
    margin-top: var(--uiaTypographyBasicMargin, 1em);
    margin-bottom: 0;
}

p:not([class]):first-child,
ul:not([class]):first-child,
ol:not([class]):first-child{
    margin-top: 0;
}

li:not([class]):nth-child(n+2){
    margin-top: var(--uiaTypographyLiMargin, .75em);
}

h1:not([class]),
h2:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]){
    margin-top: var(--uiaTypographyHeadingMarginTop, 1em);
    margin-bottom: var(--uiaTypographyHeadingMarginBottom, .25em);
    line-height: var(--uiaTypographyHeadingLineHeight, 1.78);
    font-family: var(--uiaTypographyHeadingFontFamily, inherit);
}

h1:not([class]):first-child,
h2:not([class]):first-child,
h3:not([class]):first-child,
h4:not([class]):first-child,
h5:not([class]):first-child,
h6:not([class]):first-child{
    margin-top: 0;
}

h1:not([class]){
    font-size: var(--uiaTypographyH1FontSize, 2.25rem);
}

h2:not([class]){
    font-size: var(--uiaTypographyH2FontSize, 2rem);
}

h3:not([class]){
    font-size: var(--uiaTypographyH3FontSize, 1.75rem);
}

h4:not([class]){
    font-size: var(--uiaTypographyH4FontSize, 1.5rem);
}

h5:not([class]){
    font-size: var(--uiaTypographyH5FontSize, 1.25rem);
}

h6:not([class]){
    font-size: var(--uiaTypographyH6FontSize, 1rem);
}

a{
	color: var(--uiaTypographyLinkColor, #5e4ef3);
}

img{
    display: var(--uiaTypographyImgDisplay, block);
    max-width: var(--uiaTypographyImgMaxWidth, 100%);
}
